HELP.md
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/more
Dockerfile
mvnw
mvnw.cmd
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/test/java/com/ai_agents/autopost_news_api/config.ini
target\test-classes\com\ai_agents\autopost_news_api/config.ini
target/autopost_news_api-0.0.1-SNAPSHOT.jar
target/autopost_news_api-0.0.1-SNAPSHOT.jar.original
